body{
    background-color: #eafbff;
    background-image: linear-gradient(to right,#9f0e84 0%, #1fdc28 50%, white 100%);
    background-image: linear-gradient(to bottom, #cd2812 0%, #14e1e1 50%, white 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: white;
    width: 80px;
    padding: 25px;
    display: flex;
    align-self: center;
    justify-content: center;
    box-shadow: border-box 0 0 10px rgba(0, 0, 0, 0.5);
}

nav.active{
    width: 355px;
}